<section>
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h2 class="text-center">Add Products</h2>
                <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
                    <label for="">name</label>
                    <input type="text" name="Name" class="form-control">

                    <label for="">category</label>
                    <input type="text" name="Category" class="form-control">

                    <label for="">price</label>
                    <input type="text" name="Price" class="form-control">

                    <label for="">image</label>
                    <input type="file" name="Image" class="form-control">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                    <a href="/admin"  class="btn btn-danger mt-4">Back</a>
                </form>
            </div>
        </div>
    </div>
</section>