    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img class="rounded-circle mr-3" style="width: 80px;height: 80px;"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR79M-VMfy9l-J0LvmadKASnrUlIq0vV5BuUA&usqp=CAU"
                alt="">
            <a class="navbar-brand text-white" style="font-size:  22px;" href="#">Brand Collection</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Products <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="#">oders</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

    </header>