<section>
    <div class="container">
        <div class="row">
            <div id="first-box" class="col-md-12">
                <h3 class="text-center ">Thank You For Your Order</h3>
                <hr>
                <div class="ml-5 mt-5">
                    
                    <h3> Heyy!! {{name}}</h3>
                    <h5>your order id :<span class="text-primary"> {{orderId}}</span></h5>
                    <a class="btn btn-light mt-4" href="/check-order">Check Your Order</a> 
                     <a  class="btn btn-danger mt-4 " href="/back">back</a>                   
                </div>
               
            </div>

        </div>
    </div>
</section>
<style>
    .text-center {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 2.5em;
        -webkit-text-stroke: 1px #1a0314;
    }

    #first-box {
        width: 500px;
        height: 600px;
        background-color: rgb(202, 226, 202);
        margin-top: 50px;
        margin-bottom: 50px;

    }
</style>