
    <section>
        <div class="container mt-5">
            <div class="row "> 
                {{#each products}}              
                <div class="col-md-3 mt-4">
                    <div class="card" style="width: 15rem;height: 25rem;">
                        <img class="card-img-top" style="width: 15rem;height: 15rem;" src='/product-images/{{this._id}}.jpg' alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">{{this.Name}}</h4>
                            <h6 class=" text-primary">{{this.Category}}</h6>
                            <h5 class="text-center text-success">₹ {{this.Price}}</h5>
                            
                            <a href="#" class="btn btn-primary">add to cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
